@model IEnumerable<SchoolProj.Models.enrolltbl>
@{
    ViewBag.Title = "students In Course";
}

<h2>students In Course @Request.QueryString["coursetitle"]</h2>

@if (Model!=null)
{
    foreach (var item in Model)
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    @if (item.studenttbl.imgPath != null) 
                    {
                        <img src="~/Content/Images/Students/@Url.Content(item.studenttbl.imgPath)" class="card-img-top" alt="...">
                    }
                    <div class="card-body">
                        <a href="/studenttbls/Details/@Url.Content(item.studenttbl.id.ToString())"> 
                            <h5 class="card-title">@item.studenttbl.FullName</h5>
                        </a>
                        <p class="card-text">...</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    }
}

