USE [master]
GO
/****** Object:  Database [schooldb]    Script Date: 4/27/2022 3:32:59 PM ******/
CREATE DATABASE [schooldb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'studentdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLCATDB\MSSQL\DATA\studentdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'studentdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLCATDB\MSSQL\DATA\studentdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [schooldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [schooldb]
GO
/****** Object:  Table [dbo].[coursetbl]    Script Date: 4/27/2022 3:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coursetbl](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[credit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_coursetbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enrolltbl]    Script Date: 4/27/2022 3:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enrolltbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courseid] [int] NOT NULL,
	[studentid] [int] NOT NULL,
	[grade] [decimal](4, 1) NULL,
 CONSTRAINT [PK_enrolltbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studenttbl]    Script Date: 4/27/2022 3:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studenttbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[enrolldate] [date] NULL,
	[imgPath] [nvarchar](250) NULL,
 CONSTRAINT [PK_studenttbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[coursetbl] ([id], [title], [credit]) VALUES (1, N'asp.net', N'15')
INSERT [dbo].[coursetbl] ([id], [title], [credit]) VALUES (2, N'php', N'19')
GO
SET IDENTITY_INSERT [dbo].[studenttbl] ON 

INSERT [dbo].[studenttbl] ([id], [fname], [lname], [enrolldate], [imgPath]) VALUES (5, N'haitham', N'maged', NULL, NULL)
INSERT [dbo].[studenttbl] ([id], [fname], [lname], [enrolldate], [imgPath]) VALUES (7, N'mazen', N'maged', NULL, N'Capture2.PNG')
INSERT [dbo].[studenttbl] ([id], [fname], [lname], [enrolldate], [imgPath]) VALUES (8, N'mazen', N'maged', NULL, N'Capture.PNG')
SET IDENTITY_INSERT [dbo].[studenttbl] OFF
GO
/****** Object:  Index [IX_enrolltbl]    Script Date: 4/27/2022 3:32:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_enrolltbl] ON [dbo].[enrolltbl]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[enrolltbl]  WITH CHECK ADD  CONSTRAINT [FK_enrolltbl_coursetbl] FOREIGN KEY([courseid])
REFERENCES [dbo].[coursetbl] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[enrolltbl] CHECK CONSTRAINT [FK_enrolltbl_coursetbl]
GO
ALTER TABLE [dbo].[enrolltbl]  WITH CHECK ADD  CONSTRAINT [FK_enrolltbl_studenttbl] FOREIGN KEY([studentid])
REFERENCES [dbo].[studenttbl] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[enrolltbl] CHECK CONSTRAINT [FK_enrolltbl_studenttbl]
GO
USE [master]
GO
